*, body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: $font-primary;
  background-color: $ui-1;
  color: $ui-text;
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    color: $ui-title;
  }
}

.ptps-content {
  width: 80vw;
  max-width: 1240px;
  margin: 0 auto;
  padding: vw(80) 0;
}

.ptps-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: vw(20);
}
