/* =========
  LIGHT UI
*/
$ui-dark-1: #0c0c0e;
$ui-dark-2: #201f25;
$ui-dark-3: #212028;
$ui-dark-4: #2d313d;
$ui-dark-text: #7d7d7f;
$ui-dark-title: #c4c4c2;

/* =========
  DARK UI
*/
$ui-1: #f3f3f1;
$ui-2: #dfe0da;
$ui-3: #dedfd7;
$ui-4: #d2cec2;
$ui-text: #3b3b3d;
$ui-title: #828280;

/* =========
  THEME COLORS
*/
$ui-primary: #feb95a;
$ui-secondary: #21c0aa;

$ui-success: #21c0aa;
$ui-warning: #feb95a;
$ui-error: #c05f56;

/* =========
  FONT RELATED
*/
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$size-xxxs: 0.4rem;
$size-xxs: 0.5rem;
$size-xs: 0.6rem;
$size-sm: 0.8rem;
$size-md: 1rem;
$size-lg: 1.2rem;
$size-xl: 1.5rem;
$size-xxl: 2rem;
$size-xxxl: 3rem;

/* =========
  SPACING
*/
$spacing-xs: vw(5);
$spacing-sm: vw(10);
$spacing-md: vw(20);
$spacing-lg: vw(40);
$spacing-xl: vw(80);
$spacing-xxl: vw(100);
$spacing-xxxl: vw(160);

/* =========
  SCREEN SIZES
*/
$media-mobile: 768px;
$media-tablet: 1024px;
$media-notebook: 1440px;
$media-desktop: 1920px;
